<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.xixi.pojo.User">
        <property name="name" value="xiaoqian"/>
    </bean>

    <!-- 第一种根据index参数下标设置 -->
    <bean id="userT" class="com.xixi.pojo.UserT">
        <!-- index指的是构造方法，下标从0开始-->
        <constructor-arg index="0" value="xiaoqian2"  />
    </bean>

    <!--第二种根据参数名字设置-->
    <bean id="userT1" class="com.xixi.pojo.UserT">
        <!-- name: 参数名 -->
        <constructor-arg name="name" value="xiaoqian3"/>
    </bean>

    <!--第三种根据参数类型设置-->
    <bean id="userT2" class="com.xixi.pojo.UserT">
        <constructor-arg type="java.lang.String" value="xiaoqian4"/>
    </bean>

    <!-- alias 设置别名，为bean设置别名，可以设置多个别名-->
    <alias name="userT2" alias="userT2New"/>

    <!-- bean就是java对象，有Spring创建和管理 -->
    <!--
        id 就是 bean 的标识符，要唯一，如果没有配置id，name 就是默认标识符
                                   如果配置id，又配置了name，那么name是别名
        name 可以设置多个别名，可以用逗号，分号，空格隔开
        如果不配置id 和 name，可以根据applicationContext.getBean(.class)获取对象

        class 是 bean 的全限定名 = 类名 + 包名
    -->
</beans>